@{ ViewData["Title"] = "estudio"; }
<link rel="stylesheet" href="~/css/style.css" />
<body class="estudio">

<header>
    <a href="#" id="map-icon"><img src="/img/mapaicon.png" alt="mapa"> </a>
</header>
<div id="map-overlay" style="display:none;">
    <div id="map-content">
        <span id="close-map">&times;</span>
        <img src="/img/mapa.png" alt="">
        <a href='@Url.Action("irASala", new { sala = "salaDeEstar", numSala = 1 })' id="botonSala"></a>
        <a href='@Url.Action("irASala", new { sala = "patio", numSala = 2 })' id="botonPatio"></a>
        <a href='@Url.Action("irASala", new { sala = "cocina", numSala = 3 })' id="botonCocina"></a>
        <a href='@Url.Action("irASala", new { sala = "sotano", numSala = 4 })' id="botonSotano"></a>
        <a href='@Url.Action("irASala", new { sala = "baño", numSala = 5 })' id="botonBaño"></a>
        <a href='@Url.Action("irASala", new { sala = "salaDeRetratos", numSala = 6 })' id="botonRetratos"></a>
        <a href='@Url.Action("irASala", new { sala = "biblioteca", numSala = 7 })' id="botonBiblioteca"></a>
        <a href='@Url.Action("irASala", new { sala = "estudio", numSala = 8 })' id="botonEstudio"></a>
          <h3 id="nombreSala">Sala de Estar</h3>
        <h3 id="nombrePatio">Patio</h3>
        <h3 id="nombreCocina">Cocina</h3>
        <h3 id="nombreSotano">Sótano</h3>
        <h3 id="nombreBaño">Baño</h3>
        <h3 id="nombreRetrato">Sala de Retrato</h3>
        <h3 id="nombreBiblioteca">Biblioteca</h3>
        <h3 id="nombreEstudio">Estudio</h3>
    </div>
</div>
<img src=/img/abuelo.png id="abuelo">
<h2>@ViewBag.acusado</h2>
 <div id="contenedorDialogo" class="contenedorDialogoPersonaje">
          <p id="textoDialogo"></p>
  </div>
<script>
    const estanLasPistas = @((ViewBag.estanLasPistas ?? false).ToString().ToLower());
     window.onload = function () {

        const dialogos = [
        "Por fin me encuentras,",
        "¿Quien fue?",
        "form"];

        const dialogosSinPistas = [
        "Estuviste jugando al detective",
        "Pero todavia no podes probar nada, volve a mi cuando tengas todas las pistas necesarias",
        "..."];
    let dialogoId = 0;
    let terminoDialogo = false;
      const contenedor = document.getElementById("contenedorDialogo");

    document.getElementById("abuelo").addEventListener("click", function () {

        if (dialogoId < dialogos.length && estanLasPistas) {
           if (dialogos[dialogoId] === "form") {
             document.getElementById("contenedorDialogo").style.display = "block";
                contenedor.innerHTML = `
                <form method="post" action="@Url.Action("comprobarSospechoso")">
                 <section>
                  <div>
                   <input type="radio" name="sospechoso" value="Abuelo" class="cartaSospechoso" />
                   <label>Abuelo</label>
                   <label><img src="/img/abuelo.png"></label>

                   <input type="radio" name="sospechoso" value="Tio" class="cartaSospechoso" />
                   <label>Tio</label>

                  <input type="radio" name="sospechoso" value="Elena" class="cartaSospechoso" />
                  <label>Elena</label>

                  <input type="radio" name="sospechoso" value="Primo" class="cartaSospechoso" />
                  <label>Primo</label>

                  <input type="radio" name="sospechoso" value="Jardinero" class="cartaSospechoso" />
                  <label>jardinero</label>

                  <input type="radio" name="sospechoso" value="Olga" class="cartaSospechoso" />
                  <label>Olga</label>

                  <input type="radio" name="sospechoso" value="Mayordomo" class="cartaSospechoso" />
                  <label>Mayordomo</label>
                 </div>
               <div>
                <button type="submit">Submit</button>
               </div>
  </section>
</form>
                `;
                dialogoId++;
            } else {
               document.getElementById("contenedorDialogo").style.display = "block";
                document.getElementById("textoDialogo").textContent = dialogos[dialogoId];
                 dialogoId++;

            }
        } else if(!estanLasPistas){
           document.getElementById("contenedorDialogo").style.display = "block";
              document.getElementById("textoDialogo").textContent = dialogosSinPistas[dialogoId];
              dialogoId++;

        }else{ 
            terminoDialogo = true;
            document.getElementById("contenedorDialogo").style.display = "none";
        }
    });
 }
</script>
  
</body>