@{
    ViewData["Title"] = "irASala";
}
<link rel="stylesheet" href="~/css/style.css" />

<body>
<h2>Esta sala todavia no esta desbloqueada, intenta ir por otro camino...</h2>
 <h2>@ViewBag.puede</h2>
 <h2>@ViewBag.sal</h2>
           <h2>@ViewBag.salaOriginal</h2>
           <h2>@ViewBag.numSala</h2>

<a href='@Url.Action("salaDeEstar")'>Volver</a>
</body>