@{
    ViewData["Title"] = "irASala";
}
<link rel="stylesheet" href="~/css/style.css" />

<body class="irASala">
<h3>Un frío inexplicable te detiene. Esta sala no quiere ser abierta... todavía.</h3>
<p>Hay puertas que solo se abren cuando uno deja de forzarlas.</p>
 <h2>@ViewBag.puede</h2>
 <h2>@ViewBag.sal</h2>
           <h2>@ViewBag.salaOriginal</h2>
           <h2>@ViewBag.numSala</h2>

<a href='@Url.Action("salaDeEstar")'>Volver</a>
</body>