@{ ViewData["Title"] = "estanteria"; }
    <link rel="stylesheet" href="/css/style.css" />
<body class="manijas">
 <header>
        <a href="@Url.Action("ba単o")">Volver al ba単o</a>
    </header>
    
<h2>Arregla la canilla para que llegue a 14 en 8 giros positivos</h2>

@{ if(ViewBag.estaDesbloqueada){
    <h2 class="contenedorDialogo">Justo cuando giras la ultima canilla escuchas un ruido proveniente de abajo de la ba単era... Solo hay un foto con una inscripcion que dice...多Sobrero de piel?</h2>
}else{
    <div class="puzzleManijas">
    
   <div class="manijas1">
    <form action="@Url.Action("enviarValorManija")" method="post">
    <input type="hidden" name="valor" value="-1">
    <input type="hidden" name="manija" value="1">
    <input type="hidden" name="numeroActual" value="@ViewBag.numeroActual" id="flecha2">
    <input type="hidden" name="manija1" value="@ViewBag.manija1" >
    <input type="hidden" name="manija2" value="@ViewBag.manija2">
    <input type="image" src="/img/flechaMenos.png"alt="enviar manija 1 menos" >
    
</form>
 <form action="@Url.Action("enviarValorManija")" method="post" id="flecha1">
    <input type="hidden" name="valor" value="1">
    <input type="hidden" name="manija" value="1">
    <input type="hidden" name="numeroActual" value="@ViewBag.numeroActual">
    <input type="hidden" name="manija1" value="@ViewBag.manija1">
    <input type="hidden" name="manija2" value="@ViewBag.manija2">
    <input type="image" src="/img/flechaMas.png"alt="enviar manija 1" >
    
</form>
</div>
<div class="manijas2">
<form action="@Url.Action("enviarValorManija")" method="post">
    <input type="hidden" name="valor" value="-3">
    <input type="hidden" name="manija" value="2">
    <input type="hidden" name="numeroActual" value="@ViewBag.numeroActual"   id="flecha4">
    <input type="hidden" name="manija1" value="@ViewBag.manija1">
    <input type="hidden" name="manija2" value="@ViewBag.manija2">
    <input type="image" src="/img/flechaMenos.png"alt="enviar manija 1 menos">
</form>
<form action="@Url.Action("enviarValorManija")" method="post">
    <input type="hidden" name="valor" value="3">
    <input type="hidden" name="manija" value="2">
    <input type="hidden" name="numeroActual" value="@ViewBag.numeroActual"  id="flecha3">
    <input type="hidden" name="manija1" value="@ViewBag.manija1">
    <input type="hidden" name="manija2" value="@ViewBag.manija2">
    <input type="image" src="/img/flechaMas.png" alt="enviar manija 2" >
</form>
</div>
</div>
<div class="numeros">
<h2 id="numeroTotal">@ViewBag.numeroActual</h2>
<h3 id="numeromanijaIzquierda">@ViewBag.manija1</h3>
<h3 id="numeromanijaDerecha">@ViewBag.manija2</h3>
</div>
<form action="@Url.Action("desbloquearSala")" method="post">
    <input type="hidden" name="clave" value="@(ViewBag.manija1.ToString() + ViewBag.manija2.ToString())">
    <input type="hidden" name="sala" value="5">
    <input type="hidden" name="salaOriginal" value="manijas">
    <button type="submit">Enviar</button>
</form>
}}     
    </body>