@{
    ViewData["Title"] = "mapa";
}
<head>
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<main>
<img src="/img/mapa.png">
   <a href='@Url.Action("irASala", new{sala = "patio", numSala=2})' id="botonPatio"></a>
    <a href='@Url.Action("irASala", new{sala = "cocina", numSala=3})'id="botonCocina"></a>
    <a href='@Url.Action("irASala", new{sala = "sotano", numSala=4})'id="botonSotano"></a>
    <a href='@Url.Action("irASala", new{sala = "baño", numSala=5})'id="botonBaño"></a>
    <a href='@Url.Action("irASala", new{sala = "salaDeRetratos", numSala=6})'id="botonRetratos"></a>
    <a href='@Url.Action("irASala", new{sala = "biblioteca", numSala=7})'id="botonBiblioteca"></a>

</main>