@{
    ViewData["Title"] = "Index";
}

<head>
    <link rel="stylesheet" href="~/css/style.css" />
</head>

<header>
    <a href="#" id="map-icon"><img src="/img/mapaicon.png" alt="mapa"> </a>
</header>
<div id="map-overlay" style="display:none;">
    <div id="map-content">
        <span id="close-map">&times;</span>
        <img src="/img/mapa.png" alt="">
            <a href='@Url.Action("irASala", new { sala = "patio", numSala = 2 })' id="botonPatio"></a>
            <a href='@Url.Action("irASala", new { sala = "cocina", numSala = 3 })' id="botonCocina"></a>
            <a href='@Url.Action("irASala", new { sala = "sotano", numSala = 4 })' id="botonSotano"></a>
            <a href='@Url.Action("irASala", new { sala = "baño", numSala = 5 })' id="botonBaño"></a>
            <a href='@Url.Action("irASala", new { sala = "baño", numSala = 5 })' id="botonSala"></a>
            <a href='@Url.Action("irASala", new { sala = "salaDeRetratos", numSala = 6 })' id="botonRetratos"></a>
            <a href='@Url.Action("irASala", new { sala = "biblioteca", numSala = 7 })' id="botonBiblioteca"></a>
    </div>
</div>

<body class="salaDeEstar">

    <div class="personajes">
        <img src="/img/tio.png" alt="">
        <img src="/img/hermana.png" alt="">
        <img src="/img/primo.png" alt="">
        <img src="/img/abuelo.png" alt="">
        <img src="/img/hermano.png" alt="">

    </div>
    <!-- <div>
        <p>Bienvenidos al sitio web de NombreProyecto</p>
        <h1>esto es una prueba 2 </h1>
        <form action='@Url.Action("desbloquearSala")' method="POST">
            <input type="text" name="clave" placeholder="Clave">
            <input type="hidden" name="sala" value=1 placeholder="Arriesgar">
            <input type="hidden" name="salaOriginal" value="salaDeEstar">
        </form>
    </div> 
    -->
    <script>
        document.getElementById("map-icon").addEventListener("click", function (e) {
            e.preventDefault();
            document.getElementById("map-overlay").style.display = "block";
        });


        document.getElementById("close-map").addEventListener("click", function () {
            document.getElementById("map-overlay").style.display = "none";
        });


        window.addEventListener("click", function (e) {
            if (e.target === document.getElementById("map-overlay")) {
                document.getElementById("map-overlay").style.display = "none";
            }
        });
    </script>
</body>